{
  "root": true,
  "globals": {
    "process": false
  },
  "parserOptions": {
    "ecmaVersion": 8
  },
  "extends": [
    "plugin:vue/recommended"
  ],
  "rules": {
    "no-console": ["error", { "allow": ["error"] }]
  }
}
